@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;500;600;700&family=Kalnia:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif !important;
  background-color: #fff;
}

.top-bar {
  background: #0d0d0d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.main-header {
  padding: 15px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.nav-red-bar {
  background: #dc2626; 
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  color: #fff !important;
  text-decoration: none;
  margin: 0 40px;
  font-family: 'Kalnia', serif; 
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.nav-divider {
  width: 1px;
  height: 24px;
  background: #fff;
  opacity: 0.6;
}

/* Tùy chỉnh mũi tên Carousel */
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: #dc2626 !important;
  font-size: 40px !important;
  z-index: 10;
}